<include file="Public:header" />
<script src="__JS__/all-nav.js" type="text/javascript"></script>
<link rel="stylesheet" href="__CSS__/haojudian.css" type="text/css" />

<div class="Commod_nav">
	<div class="ny_bt">
    	<a href="{:U('Index/index')}">首页</a><i>></i><a href="javascript:void(0);">{$about_title}</a>
    </div>
</div>
<div class="index_commodity index_firstfloor mar_auto " style='margin-top:15px;background:#fff'>	
	<div style="margin:0 auto;font-size:18px;width:900px;padding-top:30px";>
          	{$content}
    </div>  	
</div>
<include file="Public:footer" />