<extend name="Public/base" />
<block name="body">
<div class="widget-content" style='border-bottom:none;padding: 0;'>
    <p>
               <button class="btn btn-info">修改管理名</button>
              <a class="btn" href='{:U("updatepassword")}'>修改密码</a>
    </p>
 </div>
     	<div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>{$meta_title}</h5>
        </div>
        <form action="{:U('updateMname')}" method="post" class="form-horizontal" >
        <div class="widget-content nopadding">
            <div class="control-group">
              <label class="control-label"><span class='require'>*</span>密码</label>
              <div class="controls">
                <input type="password" name="password" value="" class=" input-big span4">
                <span></span> </div>
            </div>
            <div class="control-group">
              <label class="control-label"><span class='require'>*</span>管理员名</label>
              <div class="controls">
                <input type="text" name="nickname" value=""  class=" input-big span4">
                <span class='require'>(新管理员名)</span> </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-success ajax-post" target-form="form-horizontal">提交</button>
              <button type="button" class="btn btn-danger" onclick="javascript:history.back(-1);return false;">返回</button>
            </div>
         </div></form></div>
</block>
<block name="script">
	<script>
	//导航高亮
    highlight_subnav("{:U('Manager/updateMname')}");
	</script>
</block>
