@CHARSET "UTF-8";
/*分页样式*/
.page {
    margin: 10px 0;
    *zoom: 1;
}
.page:before,
.page:after {
    display: table;
    content: "";
}
.page:after {
    clear:both;
}
.page a,
.page span {
    float: left;
    margin-left: 1px;
    padding: 0 14px;
    height: 30px;
    line-height: 30px;
    color: #000;
    border: 1px solid #CCCCCC;
}
.page a:hover
 {
    text-decoration: none;
   	border: 1px solid #046DAF;
}
.page .current {
	border: 1px solid #046DAF;
}
.page .next,
.page .prev {
    font-family: "宋体";
    font-weight: bold;
}
.page .rows {
	border-right: 1px solid #CCCCCC;
}

/*分页跳转*/
.page .jump{
	width:5%;
	min-width:130px;
	display: table; 
	*position: relative; 
}
.page span #inp{
	width:10%;
	min-width:20px;
	text-align:center;
	border: 1px solid #046DAF;
	vertical-align:middle;
	display: table-cell;
	*position: absolute;
	*top: 50%;
}

