<extend name="Public/base"/>

<block name="body">
     	<div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>{$meta_title}</h5>
        </div>
		<form action="{:U()}" method="post" class="form-horizontal">
		 <div class="widget-content nopadding">
		<div class="control-group">
            <label class="control-label">项目名称<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" id="name" name="name" value="{$info.name|default=''}">（用于显示项目的名称）
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">项目地址<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" id="filename" name="filename" value="{$info.filename|default=''}">（用于显示项目的地址）
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">月份选择</label>
             <div class="controls">
            <select name="month"  id="month" class="search-select">
					<eq name="month" value="-1"><option selected="selected"   value="-1">*</option><else/><option   value="-1">*</option></eq>
                    <for start='1' end='13'>
                	<option  value="{$i}">{$i}月</option>
                	</for>
					
			</select><span class="check-tips">（用于选择更新的月份）</span></div>
        </div>
        <div class="control-group">
            <label class="control-label">星期选择<span class="check-tips"></span></label>
             <div class="controls">
            <select name="weekday"  id="weekday" class="search-select">
            
					<eq name="weekday" value="-1"><option selected="selected"   value="-1">*</option><else/><option   value="-1">*</option></eq>
                    <volist name="week_list" id="wl">
                   	 <option value="{$key}">{$wl}</option>
                    </volist>
					
			</select>（用于选择为周几更新）</div>
        </div>
        <div class="control-group">
            <label class="control-label">日期选择<span class="check-tips"></span></label>
             <div class="controls">
            <select name="day"  id="day" class="search-select">
				<eq name="day" value="-1"><option selected="selected"   value="-1">*</option><else/><option   value="-1">*</option></eq>
                <for start='1' end='32'>
                <option  value="{$i}">{$i}日</option>
                </for>
			
			</select>（用于选择日期）</div>
<!--             <div class="controls">
                <input type="text" class="text input-large" id="day" name="day" value="{$info.day|default=''}">（用于输入日期）
            </div> -->
        </div>
        <div class="control-group">
            <label class="control-label">时间选择<span class="check-tips"></span></label>
             <div class="controls">
            <select name="hour"  id="hour" class="search-select">
             <for start='0' end='24'>
                <option  value="{$i}">{$i}时</option>
                </for>
            		
			</select>（用于选择小时）</div>
            <!-- <div class="controls">
                <input type="text" class="text input-large" id="hour" name="hour" value="{$info.hour|default=''}">（显示小时）
            </div> -->
        </div>
        <div class="control-group">
            <label class="control-label">分钟数<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" id="minute" name="minute" value="{$info.minute|default=''}">（用于分钟填写，可以多填，需要用逗号隔开）
            </div>
        </div>
         <div class="control-group">
            <label class="control-label">状态<span class="check-tips"></span></label>
            <div class="controls">
                <input name="available" type="radio" value="1" checked="checked" />启用 <input type="radio" name="available" value="0" />禁用
           </div>
        </div>
        <div class="form-actions">
        	<input type="hidden" name="id" id="id"  value="{$info.id|default=''}">  
            <!-- <input type="hidden" name="title" id="title"  value="{$info.title|default=''}">   -->
            <button class="btn submit-btn" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div></div>
         </form>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
    $("form").submit(function() {
	   
	    if(!check_empty('name','项目名称')){
	        return false;
	        }
	    
	       
	    if(!check_neq('minute','分钟')){
	        return false;
	        }
	    
	    function check_empty(str,info){
	        var str=$("#"+str).val();
	        if(str==false){
	            alert(info+'不能为空');
	            return false;
	        }else{
	            return true;    
	        }
	    }
	    function check_number(str,info){
	        var reg = new RegExp("^[0-9]*$");
	        var str=$("#"+str).val();
	        if(!reg.test(str)){
	            alert(info+'必须为数字');
	            return false;
	        }else{
	            return true;
	        }
	    }
        function check_neq(str,info){
            var str=$("#"+str).val();            
            if(str>100001){
                alert(info+'金额不能大于100000元！');
                return false;
            }else{
                return true;
            } 
        }
    });

    
        //导航高亮
        highlight_subnav("{:U('DataTime/index')}");
    </script>
</block>