 <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no">
        <meta charset="UTF-8">
        <title>{$title}|{:C('WEB_SITE')}</title>
        <link href="__NEW__/css/bootstrap.min.css" rel="stylesheet">
        <link href="__NEW__/css/animate.min.css" rel="stylesheet">
        <link href="__NEW__/css/font-awesome.min.css" rel="stylesheet">
        <link href="__NEW__/css/form.css" rel="stylesheet">
        <link href="__NEW__/css/calendar.css" rel="stylesheet">
        <link href="__NEW__/css/style.css" rel="stylesheet">
        <link href="__NEW__/css/icons.css" rel="stylesheet">
        <link href="__NEW__/css/generics.css" rel="stylesheet"> 
       <link href="__NEW__/css/page.css" type="text/css" rel="stylesheet" />
 </head>