<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="__CSS__/mui.min.css"/>
		<link rel="stylesheet" href="__CSS__/iconfont.css"/>
		<link rel="stylesheet" href="__CSS__/commen.css" />
		<link rel="stylesheet" href="__CSS__/pages/shangcheng.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav header">
		    <h1 class="mui-title">矿机列表</h1>
		</header>
		<div class="mui-content list">
		    <ul class="mui-table-view">
		    
		    <notempty name="goodlist">
		    
		       <volist name="goodlist" id="vo">
		          <li class="mui-table-view-cell mui-media">
		            <a href="{:U('Shop/xiangqing',array('id'=>$vo['id']))}">
		                <img class="mui-media-object mui-pull-left" src="{$vo.goods_ico|get_cover=path}">
		                <div class="mui-media-body">
		                    {$vo.goods_name}
		                	<p>产量：<span>{$vo.chanliang}{$Think.const.MONEY}/小时</span></p>
		                	<p>运行周期：<span>{$vo.shouming}小时</span></p>
		                	<p class="price">价格：<span class="pre">{$vo.ms_price}</span>{$Think.const.MONEY}</p>
		                </div>
		            </a>
		        </li>
		       
		       
		       </volist>
		    
		    </notempty>
		        
		       
		    </ul>			
		</div>
		<div class="foot">
			<a href="{:U('kung/index')}">
				<span class="iconfont  icon-shouye2"></span>
		       	<span>首页</span>
			</a>
			<a href="{:U('shop/index')}" class="foot-active">
		        <span class="iconfont icon-sc1"></span>
		       <span>矿机</span>
		    </a>
		     <a data-url="{:U('kung/center')}" href="javascript:void(0)" class="forbidden">
		        <span class="iconfont icon-icon"></span>
		        <span>交易</span>
		    </a>
		    <a href="{:U('user/index')}">
		        <span class="iconfont icon-wode"></span>
		        <span>我的</span>
		    </a>
		</div>
	</body>
	<script type="text/javascript" src="__JS__/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="__STATIC__/layer/layecore/layer.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/mat/js/common.js"></script>
	<script>
	$('.forbidden').click(function () {
        var target=$(this).attr('data-url');
        var ziliao = {$ziliao};
        if (target) { 
        	if(ziliao){
        		window.location.href=target; 
 	        }else{
 	        	$.layer({
 			        shade: [0],
 			        area: ['auto','auto'],
 			        dialog: {
 			            msg: '请先去完善资料',
 			            btns: 2,                    
 			            type: 4,
 			            btn: ['确定','取消'],
 			            yes: function(){
 			            	window.location.href='/index.php?a=/home/user/set.html'
 			            }
 			        }
 			    });
 	        }
        }
        return false;
    });
	</script>
</html>
