<extend name="public/base"/>
<block name='style'>
</block>

<block name="body">      
<div class="pt10 pl10 pr10 pb10">
<div class="bod bgf h782">
	<div class="table-title">留言内容</div>

     <div class="pt5 pl10 pr10">
		    <div class="ly_txt v_m bod" style="margin:0 auto;margin-top:10px; border-bottom-style:none; text-align:center;width:700px;" ><h3>留言内容</h3></div>
		     <div class="ly_txt v_m bod " style="margin:0 auto; border-top-style:none;width:700px;height:300px;">
		      {$content['content']}
		     </div>
		     <div class="ly_txt v_m bod" style="margin:0 auto;margin-top:30px; border-bottom-style:none; text-align:center;width:700px;" ><h3>回复内容</h3></div>
		     <div class="ly_txt v_m bod " style="margin:0 auto; border-top-style:none;width:700px;height:300px;">
		      {$content['reply']}
		     </div>
		     <button style="margin-left:600px;margin-top:10px;" class="c_f right_btn01 right_btn04 c_p v_m" onclick="javascript:history.back(-1);return false;" style="line-height:20px;">返 回</button>             
     </div>
     
</div>
</div>   
</block>
<block name="script">
    <script type="text/javascript">
  
        //导航高亮
       highlight_subnav("{:U('Message/liuyanList')}");
    </script>
</block>

