<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__HOME__/wap/css/mui.min.css" rel="stylesheet" />
		<link href="__HOME__/wap/css/iconfont.css" rel="stylesheet" />
		<link rel="stylesheet" href="__HOME__/wap/css/commen.css" />
		<link rel="stylesheet" href="__HOME__/wap/css/shouye/lianxiwomen.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav header">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">联系我们</h1>
		</header>
		<div class="mui-content main">
		   <div>
		   		<textarea name="" rows="" cols=""></textarea>
		   </div>
		   <a href="#"><div class="but">提交</div></a>
		   <p>留言记录</p>
		  	<div class="table">
		  		<table border="" cellspacing="" cellpadding="">
		  			<tr>
		  				<th width="20%">留言时间</th>
		  				<th width="20%">昵称</th>
		  				<th width="60%">留言内容</th>
		  			</tr>
		  			<tr>
		  				<td>DataData</td>
		  				<td>Data</td>
		  				<td>DataDataDataDataDataDataataData</td>
		  			</tr>
		  			<tr>
		  				<td>Data</td>
		  				<td>Data</td>
		  				<td>Data</td>
		  			</tr>
		  		</table>
		  	</div>
		</div>
		
		<script src="__HOME__/wap/js/mui.min.js"></script>
		<script src="__HOME__/wap/js/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="__HOME__/wap/js/echarts3.js">	</script>
		<script src="__HOME__/wap/js/tiaozhuan.js"></script>
		<!--<script type="text/javascript" src="../js/index/foot3.js"></script>-->
		<script type="text/javascript">
			mui.init();		
		</script>
	</body>
</html>




