<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__HOME__/wap/css/mui.min.css" rel="stylesheet" />
		<link href="__HOME__/wap/css/iconfont.css" rel="stylesheet" />
		<link rel="stylesheet" href="__HOME__/wap/css/commen.css" />
		<link rel="stylesheet" href="__HOME__/wap/css/shouye/lianxiwomen.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav header">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">联系我们</h1>
		</header>
		<div class="mui-content main">
		 <!-- <form action="{:U('')}" method="post">
		   <div>
		   		<textarea name="content" rows="" cols="" placeholder="请控制在120个字已内"></textarea>
		   </div>-->
		  <p>AGL中国区服务客服QQ：</p>
		   <p>客服QQ:2146009133:</p>
            <p>客服QQ:2011964565:</p>
            <p>官方QQ群号码:682080395</p>
            <p>问题处理反馈，请咨询QQ处理</p>
		   <!--  <input type="submit" value="留言" class="but">
            
		  </form>
		   <p>留言记录</p>
		  	<div class="table">
		  	
		  		<table border="" cellspacing="" cellpadding="">
		  			<tr>
		  				<th width="20%">留言时间</th>
		  				
		  				<th width="40%">留言内容</th>
		  				<th width="40%">回复内容</th>
		  			</tr>
		  			<volist name="_list" id="vo"  mod="2">
		  			<tr>
		  				<td>{$vo.create_time|date="Y-m-d",###}</td>
		  				
		  				<td>{$vo.content}</td>
		  				<td><empty name="vo['reply']">暂无回复<else/>{$vo.reply}</empty></td>
		  			</tr>
		  			</volist>
		  		</table>
		  	
		  	</div>
		</div>
		-->
		<script src="__HOME__/wap/js/mui.min.js"></script>
		<script src="__HOME__/wap/js/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="__HOME__/wap/js/echarts3.js">	</script>
		<script src="__HOME__/wap/js/tiaozhuan.js"></script>
		<!--<script type="text/javascript" src="../js/index/foot3.js"></script>-->
		<script type="text/javascript">
			mui.init();		
		</script>
	</body>
</html>




