<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="__CSS__/mui.min.css"/>
		<link rel="stylesheet" href="__CSS__/iconfont1.css"/>
		<link rel="stylesheet" href="__CSS__/commen.css" />
		<link rel="stylesheet" href="__CSS__/pages/zhaomu.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav header">
		    <a class="mui-action-back mui-icon iconfont icon-fanhui mui-pull-left"></a>
		    <h1 class="mui-title">公会招募</h1>		 
		</header>
		<div class="mui-content">
			<div class="img"><div id="output"></div></div>
				<input type="text" value="http://{$_SERVER['HTTP_HOST']}/index.php?a=Home/Register/index/id/{$id}" class="inp" id="contents"/>
				<p class="but">复制链接</p>
		</div>				
	</body>
	<script type="text/javascript" src="__JS__/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="__JS__/mui.min.js"></script>
	<script type="text/javascript" src="__JS__/tiaozhuan.js"></script>
	<script type="text/javascript" src="__JS__/jquery.qrcode.min.js"></script>
	<script type="text/javascript" src="__JS__/clipboard.min.js"></script>
	<script type="text/javascript">
			var a=($('.inp').val())
			jQuery(function(){
				jQuery('#output').qrcode(a);
			})
			$('.but').on('click',function(){
				var e=$("#contents");//对象是contents   
		       	e.select(); 
		        tag=document.execCommand("Copy"); //执行浏览器复制命令  		  
		    
		        if(tag){  
		          alert('复制内容成功');  
		        }  
		   
			})
  
	</script>
</html>
