<extend name="Public/base" />
<block name="style">

</block>
<block name="body">
  <notempty name="result">
    <div class='opt_box'>
      <div class="fl">

        <include file='Public/search1' />
        <div class='clear'></div>
      </div>
      <div class="row-fluid">
        <div class="widget-box">
          <div class="widget-title">
            <span class="icon">
              <i class="icon-th"></i>
            </span>
            <h5>{$meta_title}</h5>
          </div>
          <div class="widget-content nopadding">
            <div class='dataTables_wrapper'>
              <table class="table table-bordered data-table" style="max-width:100%;">
                <thead>
                  <tr>
                    <th style='text-align:left;'>
                      <input class="check-all" type="checkbox" />
                    </th>
                    <th>{$Think.const.USERNUMBER}
                      <i class="change-sort icon-sort icon-sort-down" data-field='uid'></i>
                    </th>
                    <th>{$Think.const.REALNAME}</th>

                    <th>申请地域</th>
                    <th>申请理由</th>
                    <th>申请时间</th>
                    <th>状态</th>
                    <th>{$Think.const.OP}</th>

                  </tr>
                </thead>
                <tbody>
                  <volist name="result" id="vo">
                    <tr style="<eq name='vo.isbill' value='1'>background-color:pink;</eq><eq name='vo.isbill' value='2'>background-color:pink;</eq>">
                      <td>
                        <input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" />
                      </td>
                      <td>{$vo.usernumber}</td>
                      <td>{$vo.realname}</td>
                      <td>{:getCity($vo['province'],$vo['area'])}</td>
                      <td>{$vo.content}</td>
                      <td>{$vo.createtime|date="Y-m-d H:i:s",###}</td>
                      <td>{$vo.status|get_daili}</td>
                      <td>
                        <if condition="$vo.status neq 1">
                          <p class="btn btn-mini btn-info">{$vo.status|get_daili}</p>
                          <else/>
                          <a class="btn btn-mini btn-info ajax-get confirm" href="{:U('User/dl_yunxu',array('id'=>$vo['id']))}">允许</a>
                          <a class="btn btn-mini btn-info ajax-get confirm" href="{:U('User/dl_jujue',array('id'=>$vo['id']))}">拒绝并删除</a>
                        </if>

                      </td>
                    </tr>
                  </volist>
                </tbody>
              </table>
              <div class="page">
                {$_page}
              </div>
            </div>
          </div>
        </div>
      </div>
      <else/>
      <include file='Public/emptylist' title="暂时没有会员" />
  </notempty>
</block>
<block name="script">
  <script type="text/javascript">
    function fangda(url) {
      layer.alert("<img src=" + url + ">")
      /* layer.open({
      	  type: 1,
      	  skin: 'layui-layer-rim', //加上边框
      	  area: ['420px', '240px'], //宽高
      	  content: "<img src="+url+">"
      	}); */
    }

    function login(uid, psd) {
      var index = layer.load('正在登陆，请耐心等待');
      var url = "index.php?a=Home/Index/adminLogin";
      $.post(url, {
        id: uid,
        psd: psd
      }, tartet_success, "json");
      return false;
    }

    highlight_subnav("{:U('User/daili')}");
  </script>
</block>