<extend name="Public/base" />
<block name="body">
<notempty name="_list">
<div class='opt_box'>
	<include file='Public/search'/>
	<div class='clear'></div>
</div>
<div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
          <h5>{$meta_title}</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table" style="max-width:100%">
    <thead>
        <tr>
			<th>用户编号[姓名]</th>
			<th>用户级别</th>
			<th>所获奖项</th>
			<th>获奖时间</th>
		</tr>
    </thead>
    <tbody>
		<volist name="_list" id="vo">
		<tr>				
			<td>{$vo.usernumber}[{$vo.realname|default='佚名'}]</td>
			<td>{$vo.userrank|get_userrank}</td>
			<td>{$vo.content}</td>
			<td>{$vo.time|date="Y-m-d H:i",###}</td>
		</tr>
		</volist>
	</tbody>
    </table>
    <div class="page">
        {$_page}
    </div></div></div>
  <else/>
  <include file='Public/emptylist' title="暂时没有内容"/>
</notempty>
</block>

<block name="script">
	<script type="text/javascript">
    //导航高亮
    highlight_subnav("{:U('Bonus/bonusChange')}");
	</script>
</block>
