<extend name="Public/base" />
<block name='style'>

</block>
<block name="body">
  <div class="widget-box">
    <div class="widget-title">
      <span class="icon">
        <i class="icon-align-justify"></i>
      </span>
      <h5>重置会员密码</h5>
    </div>
    <form action="{:U('')}" method="post" class="form-horizontal">
      <input type="hidden" class="text input-large" name="uid" value="{$userinfo['uid']}">
      <div class="widget-content nopadding">
        <label class="control-label">用户编号</label>
        <div class='controls'>
          <span>{$userinfo['usernumber']}</span>
          <span>[{$userinfo['realname']}]</span>
        </div>
        <div class="control-group">
          <label class="control-label">
            <span class='require'>*</span>一级密码</label>
          <div class="controls">
            <input type="password" name="password1" id="password1" value="123456" class=" input-big span4">
            <span></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            <span class='require'>*</span>确认一级密码</label>
          <div class="controls">
            <input type="password" name="repassword1" id="repassword1" value="123456" class=" input-big span4">
            <span></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            <span class='require'>*</span>二级密码</label>
          <div class="controls">
            <input type="password" name="password2" id="password2" value="123456" maxlength="20" class=" input-big span4">
            <span></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            <span class='require'>*</span>确认二级密码</label>
          <div class="controls">
            <input type="password" name="repassword2" id="repassword2" value="123456" class=" input-big span4">
            <span></span>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-success ajax-post" target-form='form-horizontal'>提交</button>
        <button type="button" class="btn btn-danger" onclick="javascript:history.back(-1);return false;">返回</button>
      </div>
    </form>
  </div>
</block>

<block name="script">
  <script>
    highlight_subnav("{:U('User/userindex')}");
  </script>
</block>