body{
	background: #EEEEEE;
}
.table{
	width: 100%;
	margin-top:10px;
	background: #FFFFFF;
}
.table table{
	width: 100%;
}
.table th,.table td{
	line-height: 35px;
	text-align: center;
	padding: 5px;
	font-size: 14px;
}
.table th{
	color: #FFFFFF;
	background:#1DBEFF;
	border: 1px solid #fff;
}
.table td{
	color: #666666;
	border: 1px solid #BBBBBB;
	overflow: hidden;
}