<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" /> -->
<title>{$title}|{:C('WEB_SITE')}</title>
<link href="__MAT__/css/main.css" rel="stylesheet" type="text/css" />
<link href="__MAT__/css/page.css" rel="stylesheet" type="text/css" />
<include file="Public/js" />
</head>
<body>
<include file="Public/leftmenu" />
<div id="rightSide">
	<include file="Public/topnav" />
    <div class="wrapper"><block name="body"></block></div>
    <div id="footer">
        <div class="wrapper">{:C('WEB_SITE_ICP')}</div>
    </div>
</div>
<div class="clear"></div>
<block name="script"></block>
  
</body>
</html>