<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=" />
<title>{$goodinfo.goods_name}</title>
<style type="text/css">
#div1{
	margin-left:25%;
	margin-right:25%;
}
</style>
</head>
		<body>
			<div class='inner'  id="div1"><h2 align = "center">{$goodinfo.goods_name}</h2>
	       		<p><em>{$goodinfo.goods_introduct}</em></p>
	        	<img src="{$goodinfo.goods_ico}" class='image_fl'></img>
	        	<div class='col_half'><p>{$goodinfo.goods_detail}</p><h3>其它信息</h3><span>暂无</span></div>
	        </div>
	</body>
</html>