<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__HOME__/wap/css/mui.css" rel="stylesheet" />
		<link href="__HOME__/wap/css/iconfont.css" rel="stylesheet" />
		<link rel="stylesheet" href="__HOME__/wap/css/commen.css" />
		<link rel="stylesheet" href="__HOME__/wap/css/shouye/me.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav header">
		    <h1 class="mui-title">个人中心</h1>
		</header>
		<div class="mui-content">
			<div id="top">
				<div class="img1">
					<img src="__HOME__/wap/img/me_03.png"/>
				</div>
				<div class="name">您好,</div>
				<ul class="ul1">
					<li style="border-right: 1px solid #FFFFFF;">可用EVE：<p>0.00</p></li>
					<li>冻结EVE：<p>0.00</p></li>
				</ul>
			</div>
			
			<ul class="mui-table-view mui-grid-view mui-grid-9 grid">
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			    <a href="#">
			        <img src="__HOME__/wap/img/index/zhongxin1.png" alt="" />
			        <div class="mui-media-body">我的矿机</div>
			    </a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			    <a href="#">
			        <img src="__HOME__/wap/img/index/zhongxin2.png"/>
			        <div class="mui-media-body">我的交易</div>
			    </a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			    <a href="kuangjishouyi.html">
			        <img src="__HOME__/wap/img/index/zhongxin3.png"/>
			        <div class="mui-media-body">矿机收益</div>
			    </a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			    <a href="#">
			       <img src="__HOME__/wap/img/index/zhongxin4.png"/>
			        <div class="mui-media-body">工会收益</div>
			    </a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			    <a href="#">
			        <img src="__HOME__/wap/img/index/zhongxin5.png"/>
			        <div class="mui-media-body">矿工工会</div>
			    </a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			    <a href="#">
			        <img src="__HOME__/wap/img/index/zhongxin6.png"/>
			        <div class="mui-media-body">工会招募</div>
			    </a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			    <a href="gerenziliao.html">
			       <img src="__HOME__/wap/img/index/zhongxin7.png"/>
			        <div class="mui-media-body">个人资料</div>
			    </a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			    <a href="#">
			        <img src="__HOME__/wap/img/index/zhongxin8.png"/>
			        <div class="mui-media-body">联系我们</div>
			    </a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			    <a href="help.html">
			        <img src="__HOME__/wap/img/index/zhongxin9.png"/>
			        <div class="mui-media-body">帮助中心</div>
			    </a>
			</li>
			    </ul>
			
			
		</div>
		<nav class="mui-bar mui-bar-tab">
		    <a class="mui-tab-item link mui-active" data-link="{:U('Shop/index')}">
	    		<span class="mui-icon iconfont icon-shangcheng"></span>
	       	 	<span class="mui-tab-label">商城</span>	        
		    </a>
		    <a class="mui-tab-item link" data-link="{:U('Shop/showkj')}">
		        <span class="mui-icon mui-icon-phone"></span>
		        <span class="mui-tab-label">矿机</span>
		    </a>
		   <a class="mui-tab-item link" data-link="foot3.html">
		        <span class="mui-icon mui-icon-phone"></span>
		        <span class="mui-tab-label">交易</span>
		    </a>
		    <a class="mui-tab-item link" data-link="{:U('Shop/me')}">
	    		<span class="mui-icon mui-icon-gear"></span>
	        	<span class="mui-tab-label">我的</span>
		    </a>
		</nav>
		<script src="__HOME__/wap/js/mui.min.js"></script>
		<script src="__HOME__/wap/js/jquery-1.7.2.js"></script>
		<script src="__HOME__/wap/js/tiaozhuan.js"></script>
		<!--<script src="../js/zepto-1.1.6.min.js"></script>-->
		<script type="text/javascript">
			mui.init();
		</script>
	</body>

</html>