<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="__HOME__/wap/css/index.css" />
	</head>
	<body>
		<div id="section">
          
			<div class="banner">
          	
          </div>
			<div class="tit"></div>
			<div class="mid"></div>
			<div class="but"><a href="{:U('login')}" style="color:#ffffff">点击进入矿场</a></div>
			<div class="foot">
				<ul>
					<li>
						<div class="logo"><img src="" alt="" /></div>
					</li>
					
                  	<li>
						<div>联系我们</div>
						<p>客服QQ:2146009133</p>
						<p>客服QQ:2011964565</p>
                      	
					</li>
				</ul>
				<div class="boot">©所以2017-2018</div>
			</div>
		</div>
	</body>
  <script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
  <script>
  	
  
  </script>
</html>
