<extend name="Public/base" />
<block name="body">
<notempty name="_list">
<div class='opt_box'>
	<include file='Public/search'/>
	<div class='clear'></div>
</div>
<div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
          <h5>{$meta_title}</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table" style="max-width:100%">
    <thead>
        <tr>
			<th>{$Think.const.DATE_TIME}</th> 
			<th>{$Think.const.INCOME}</th>
			<th>{$Think.const.EXPEND}</th>
		    <th>{$Think.const.SURPLUS}</th> 
		    <th>{$Think.const.OUTRATE}</th> 
		</tr>
    </thead>
    <tbody>
		<volist name="_list" id="vo">
		<tr>
			<td>{$vo.createtime}</td>
			<td>{$vo.income|format_num}</td>
			<td>{$vo.expend|format_num}</td>	
			<td>{$vo.surplus|format_num}</td>
			<td>{$vo.outrate|format_num}&nbsp;%</td>
		</tr>
		</volist>
	</tbody>
    </table>
    <div class="page">
        {$_page}
    </div></div></div>
   <else/>
	<include file='Public/emptylist' title="暂时没有公司财务记录"/>
</notempty>
</block>

<block name="script">
	<script type="text/javascript">
    //导航高亮
    highlight_subnav("{:U('Bonus/corporateFinance')}");
	</script>
</block>
