<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="__CSS__/mui.min.css"/>
		<link rel="stylesheet" href="__CSS__/iconfont.css"/>
		<link rel="stylesheet" href="__CSS__/commen.css" />
		<link rel="stylesheet" href="__CSS__/pages/content.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav header">
		    <a class="mui-action-back mui-icon iconfont icon-fanhui mui-pull-left"></a>
		    <h1 class="mui-title">联系我们</h1>		 
		</header>
		<div class="mui-content">
			<div class="top"></div>
			<div class="main">
				<p class="tit">NWTT中国区服务客服QQ</p>
				<p class="k">客服QQ号：<span>{$bonus.kf1}</span></p>
				<p class="k">客服QQ号：<span>{$bonus.kf2}</span></p>
				<p class="k">官方QQ群：<span>{$bonus.kfq}</span></p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="__JS__/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="__JS__/mui.min.js"></script>
	<script type="text/javascript" src="__JS__/tiaozhuan.js"></script>
</html>

