<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i></a>
  <ul id='sidebarul'>
   <volist name="__MENU__.main" id="nav">
    <if condition='$nav.id neq 2'>
         <notempty name="nav.children" >
                <li class="submenu">
                <a href="#"><i class="icon icon-th-list"></i> 
                			<span>{$nav.title}</span> 
                			<span class="label label-important">{:count($nav['children'])}</span>
                </a>
		              <ul><volist name="nav.children" id="subnav">
		                     <li><a href="{$subnav.url|U}"><i class="icon-caret-right"></i>{$subnav.title}</a></li> 
						</volist></ul> </li>
				<else/>
				<li>
					<a href="{$nav.url|U}"><i class="icon icon-th"></i> <span>{$nav.title}</span></a>
				</li>
		</notempty>
		<else/>
		<volist name="nodes" id="sub_menu">
        <!-- 子导航 -->
        <notempty name="sub_menu">
          <li class="submenu">
        	 	<a href="#"><i class="icon icon-th-list"></i> 
                			<span>{$sub_menu.title}</span> 
                			<span class="label label-important">{:count($sub_menu['_child'])}</span>
                </a>
	            <ul>
	                <volist name="sub_menu['_child']" id="menu">
	                       <li><a href="{$menu.url|U}"><i class="icon-caret-right"></i>{$menu.title}</a></li> 
	                </volist>
	            </ul></li>
        </notempty>
        <!-- /子导航 -->
    </volist>
		</if>
     </volist>
  </ul>
</div>