<!DOCTYPE HTML>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="__MOBILE__/images/splash/splash-icon.png">
	<link rel="apple-touch-startup-image" href="__MOBILE__/images/splash/splash-screen.png" media="screen and (max-device-width: 320px)"
	/>
	<link rel="apple-touch-startup-image" href="__MOBILE__/images/splash/splash-screen_402x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)"
	/>
	<link rel="apple-touch-startup-image" sizes="640x1096" href="__MOBILE__/images/splash/splash-screen_403x.png" />
	<link rel="apple-touch-startup-image" sizes="1024x748" href="__MOBILE__/images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)"
	/>
	<link rel="apple-touch-startup-image" sizes="768x1004" href="__MOBILE__/images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)"
	/>
	<link rel="apple-touch-startup-image" sizes="1536x2008" href="__MOBILE__/images/splash/splash-screen-ipad-portrait-retina.png"
	    media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)" />
	<link rel="apple-touch-startup-image" sizes="1496x2048" href="__MOBILE__/images/splash/splash-screen-ipad-landscape-retina.png"
	    media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)" />

	<title>{$title}|{:C('WEB_SITE')}</title>

	<link href="__MOBILE__/css/style.css" rel="stylesheet" type="text/css">
	<link href="__MOBILE__/css/framework.css" rel="stylesheet" type="text/css">
	<link href="__MOBILE__/css/owl.carousel.css" rel="stylesheet" type="text/css">
	<link href="__MOBILE__/css/owl.theme.css" rel="stylesheet" type="text/css">
	<link href="__MOBILE__/css/swipebox.css" rel="stylesheet" type="text/css">
	<link href="__MOBILE__/css/colorbox.css" rel="stylesheet" type="text/css">


	<script type="text/javascript" src="__MOBILE__/js/jquery.js"></script>
	<script type="text/javascript" src="__MOBILE__/js/jqueryui.js"></script>
	<script type="text/javascript" src="__MOBILE__/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="__MOBILE__/js/jquery.swipebox.js"></script>
	<script type="text/javascript" src="__MOBILE__/js/colorbox.js"></script>
	<script type="text/javascript" src="__MOBILE__/js/snap.js"></script>
	<script type="text/javascript" src="__MOBILE__/js/contact.js"></script>
	<script type="text/javascript" src="__MOBILE__/js/custom.js"></script>
	<script type="text/javascript" src="__MOBILE__/js/framework.js"></script>
	<script type="text/javascript" src="__MOBILE__/js/framework.launcher.js"></script>
	<script src="__MAT__/login/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="__STATIC__/checkbrowser.js"></script>
	<script type="text/javascript" src="__MAT__/login/js/jquery.form.js"></script>
	<script type="text/javascript" src="__MAT__/login/js/tooltips.js"></script>
	<script type="text/javascript" src="__STATIC__/layer/layecore/layer.min.js"></script>
	<script type="text/javascript" src="__STATIC__/layer/layecore/extend/layer.ext.js"></script>
	<script type="text/javascript" src="__MAT__/js/common.js"></script>
	<script type="text/javascript">
		$(function () {
			isBrowser();
		})
	</script>
	<script type="text/javascript">
		//支持Enter键登录
		document.onkeydown = function (e) {
			if ($(".bac").length == 0) {
				if (!e) e = window.event;
				if ((e.keyCode || e.which) == 13) {
					var obtnLogin = document.getElementById("submit_btn")
					obtnLogin.focus();
				}
			}
		}
	</script>
</head>

</head>

<body>
	<div class="content">


		<div class="top-deco"></div>

		<div class="landing-page">
			<a class="landing-logo" href="#">
				<img src="__MOBILE__/images/misc/aaa.png" alt="img">
			</a>

			<div class="decoration"></div>


			<div class="page-container">
				<div class="main_box">
					<div class="login_box">
						<div class="login_form">
							<form action='{:U("")}' id="login_form" method="post" name='formName' class="form">

								<div class="form-group" style="padding-left:15%">
									<label for="j_username">请输入用户编号：</label>
									<input name="usernumber" id="usernumber" value="{$userinfo['usernumber']}" type="text" class="contactField requiredField"
									    autocomplete="off" style="min-width:50px;width:80%;">
								</div>
								<div class="form-group" style="padding-left:15%">
									<label for="j_username">请输入注册的手机号：</label>
									<input name="mobile" id="mobile" value="{$userinfo['mobile']}" maxlength="11" type="text" class="contactField requiredField"
									    autocomplete="off" style="min-width:50px;width:80%;">
									<input style="display:block;margin-top:10px;" class="button button-magenta" id="get_code" onclick="getCode(this);" value="获取验证码"
									    type="button" />
								</div>
								<div class="form-group" style="padding-left:15%">
									<label style="display:block;" for="j_password">手机验证码：</label>
									<input name="mobile_code" id="mobile_code" value="" type="text" class="contactField requiredField" style="min-width:50px;width:80%;">

								</div>

								<div class="form-group space" style="padding-left:15%">
									<button type="submit" style="min-width:50px;width:60%;" class="buttonWrap button button-green contactSubmitButton ajax-post"
									    target-form='form'>找回密码</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="decoration"></div>
	<script src="__MAT__/login/js/supersized.3.2.7.min.js"></script>
	<script>
		/*手机号*/
		$("#mobile").blur(function () {
			if (!check_empty('mobile', '手机号')) {
				return false;
			}
			if (!check_phone('mobile', '手机号')) {
				return false;
			}
		});
	</script>
	<script type="text/javascript">
		var InterValObj; //timer变量，控制时间
		var count = 120; //间隔函数，1秒执行
		var curCount; //当前剩余秒数
		/*获取短信验证码*/
		function getCode(obj) {
			mobile = $("#mobile").val();
			$.ajax({
				url: "__URL__/getMobileCode",
				type: "post",
				data: {
					mobile: mobile
				},
				success: function (da) {
					if (da) {
						curCount = count;
						$(obj).val("请在" + curCount + "秒内输入验证码");
						$(obj).attr("disabled", "true");
						$(obj).attr("style", "color:red;display:block;margin-top:10px;");
						InterValObj = window.setInterval(SetRemainTime, 1000);
					}
				}
			})
		}

		function SetRemainTime() {
			if (curCount == 0) {
				window.clearInterval(InterValObj); //停止计时器
				$("#get_code").removeAttr("disabled"); //启用按钮
				$("#get_code").removeAttr("style"); //启用按钮
				$("#get_code").val("重新发送验证码");
			} else {
				curCount--;
				$("#get_code").val("请在" + curCount + "秒内输入验证码");
			}
		}
	</script>

	<script type="text/javascript">
		$("#lookpwd").click(function () {
			document.formName.action = "{:U('Index/answerQuestion')}";
			$("form").submit();
		});
		/* 登陆 验证码切换 */
		$("#verify").click(function () {
			verifytrun('verify');
		});

		function verifytrun(verify) {
			var verifyimg = $("#" + verify).attr("src");
			if (verifyimg.indexOf('?') > 0) {
				$("#" + verify).attr("src", verifyimg + '&random=' + Math.random());
			} else {
				$("#" + verify).attr("src", verifyimg.replace(/\?.*$/, '') + '?' + Math.random());
			}
		}
	</script>
	<div class="footer">
		<div class="clear"></div>
		<p class="copyright">
			{:C('WEB_SITE_ICP')}
		</p>

	</div>
	</div>

	<div style="height:28px;"></div>
	<div class="bottom-deco"></div>


</body>

</html>