<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="__CSS__/mui.min.css"/>
		<link rel="stylesheet" href="__CSS__/iconfont1.css"/>
		<link rel="stylesheet" href="__CSS__/commen.css" />
		<link rel="stylesheet" href="__CSS__/pages/edit_pass.css" />
		<style>
			header{background: #1c1c20 !important;}
			.mui-bar-nav{box-shadow: none;}
			.x input{background: #f93333;}
			.top1{background: #313840}
			.top1 input{background: none}
		</style>
	</head>
	<body style="background: #292c33">
		<header class="mui-bar mui-bar-nav header">
		    <a class=" mui-icon iconfont icon-fanhui mui-pull-left link" data-link="{:U('user/index')}"></a>
		    <h1 class="mui-title">支付密码</h1>
		</header>
		<div class="mui-content" style="background: none">
			<form action="{:U('')}" method="post" class="form-horizontal">
				<div class="top1">
				    <span style="color: #fff;">交易密码：</span><input type="password" name="password2" class="mui-input-clear mui-ellipsis" placeholder="请输入交易密码">
				    <input type="hidden" name="url" value="{$url}">
				</div>
				<p class="x"><input type="submit" class="ajax-post" target-form='form-horizontal' value="确定"/></p>
			</form>
			
		</div>
	</body>
	<script type="text/javascript" src="__JS__/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="__JS__/mui.min.js"></script>
	<script type="text/javascript" src="__JS__/tiaozhuan.js"></script>
	<script type="text/javascript" src="__STATIC__/layer/layecore/layer.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/mat/js/common.js"></script>
</html>

