<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="__CSS__/mui.min.css"/>
		<link rel="stylesheet" href="__CSS__/iconfont1.css"/>
		<link rel="stylesheet" href="__CSS__/commen.css" />
		<link rel="stylesheet" href="__CSS__/pages/wodegonghui.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav header">
		    <a class="mui-action-back mui-icon iconfont icon-fanhui mui-pull-left"></a>
		    <h1 class="mui-title">{$title}</h1>		 
		</header>
		<div class="mui-content">
			<form action="{:U('')}" method="post" class="form-horizontal">
				<div class="list1">
		    	
		    	<span>公会口号：</span><textarea name="gh_xuanyan"  placeholder="请输入公会宣言">{$gonghui['gh_xuanyan']|default=''}</textarea>
		    	<span>公会QQ群：</span><input type="number" value="{$gonghui['gh_qq']|default=''}" name="gh_qq" placeholder="请输入公会QQ"/>
		    	<!-- <span>会长微信：</span><input type="text" placeholder="请输入会长微信"/>
		    	<span>会长&nbsp;QQ：</span><input type="text" placeholder="请输入会长QQ"/> -->
		    	<span>会长手机：</span><input type="number" value="{$gonghui['hz_phone']|default=''}" name="hz_phone" placeholder="请输入会长手机"/>
		   	</div> 
				<p class="but">
				<if condition="$isgh eq 1">
				    <input type="hidden" name="id" value="{$gonghui['id']}">
				    <input type="submit" class="ajax-post" target-form='form-horizontal' value="修改"/>
				<else/>
				    <input type="submit" class="ajax-post" target-form='form-horizontal' value="创建"/>
				</if>
				
				</p>
			</form>
		</div>
		
	</body>
	<script type="text/javascript" src="__JS__/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="__JS__/mui.min.js"></script>
	<script type="text/javascript" src="__JS__/tiaozhuan.js"></script>
	<script type="text/javascript" src="__STATIC__/layer/layecore/layer.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/mat/js/common.js"></script>
</html>
