<extend name="Public/base"/>
<block name="body">
  <div class="fl" style='margin-bottom:10px;'>
           <a class="btn ajax-get confirm" href = "{:U('deleteData')}">清空所有数据</a>
  </div>
<div class="widget-box">
   <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
     <h5>{$meta_title}</h5><span class='require' style="line-height: 36px;">(仅供测试使用，输入数值时数值尽量小于10，为了保证准确性，注册前请清空数据)</span></div>
     <form action="{:U('auto_reguser')}" method="post" class="form-horizontal">
             <div class="widget-content nopadding"> 
	            <div class="control-group" >
	              <label class="control-label">注册层数</label>
	              <div class="controls">
	               <input type="text" id="floor" name="floor" value="" class=" input-big span4">
	                <input type="submit" class="btn"value="注册" target-form='form-horizontal'>
	                </div>
	            </div>
            </div>
     </form>
</div>
</block>

<block name="script">
	<script type="text/javascript">
	$('form').submit(function(){
		layer.load('正在注册，请耐心等候！');
	});
	highlight_subnav("{:U('reg')}");
    </script>
</block>

