.xiangqing{
	width: 100%;
	height: 55px;
	padding: 10px 10px;	
	text-align: center;
}
.xiangqing span{
	display: inline-block;
	width: 20%;	
}
.xiangqing span:nth-child(1),.xiangqing span:nth-child(3){
	border-bottom: 1px solid #ababab;
	vertical-align: middle;
}
.xiangqing span:nth-child(2){
	color: #424242;
	line-height: 35px;
	text-align: center;
}
.list table{
	width: 100%;
	border:1px solid #DDDDDD;
	background-color: #FFFFFF;
	
	text-align: center;
}
.list td{
	width: 50%;
	border-color: #d7d7d7;
	line-height: 35px;
	color: #666;
}
.boot{
	width: 100%;
	height: 55px;
	line-height: 55px;
	padding-left: 15px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #FFFFFF;
	border-top: 1px solid #d3d3d3;
}
.g{
	color: #00B50D;
	font-size: 20px;
}
.buy{
	width: 30%;
	text-align: center;
	color: #FFFFFF;
	background-color: #00B50D;
}
.z_mask{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
 	display: none;
}
.z-mask{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index: 12;
	background:white;
}
.mui-backdrop{
	 z-index: 9 !important;
}
.z-mask>p{
	width:200px;
	height:14px;
	position:absolute;
	top:30%;
	left:19%;
	color:deeppink;
	font-size:14px;
	text-align:center;
	line-height:220px;
}
.z_alert{
    width:240px;
    height:100px;
    border-radius: 4px;
    background: #fff;
    color: #333333;
    font-size:16px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left:-120px;
    margin-top:-60px;
}		
.z_alert>p:nth-child(1){
	width: 100%;
	height: 64px;
	font-size:14px;
    line-height:64px;
}
.z_alert>p:nth-child(2)
{
	width: 100%;
	height:30px;
	border-top: 1px solid #ddd;
}
.z_alert>p:nth-child(2)>span
{
	margin-top: 0;
    display: inline-block;
    width: 49%;
    height:35px;
    line-height:35px;
    float: left;
    font-size:14px;
}
.z_alert>p:nth-child(2)>span:nth-child(1)
{
	border-right: 1px solid #ddd;
}
.z_alert>p:nth-child(2)>span:nth-child(2)
{
	color: #00B50D;
}